:root{
    --corPrimaria: #272727;
    --corSecundaria: #383838;
    --corTerciaria: #484848;
    --corQuaternaria: #555555;
    --corQuinquenaria: #333333;
    --corDeFundo:#1F1F1F;
    --LightShadow: 0px 0px 10px #d3d3d3;
}

body{
    margin: 0;
    color: whitesmoke;
    font-family: sans-serif;
}

input, textarea{
    background-color: var(--corQuaternaria);
    color: whitesmoke;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
}

input:focus, textarea:focus{
    outline: none;
    border: 1px solid white;
}
input::placeholder, textarea::placeholder{
    color: rgb(133, 133, 133);
}

.titleButtonsConteiner{
    display: flex;
    flex-direction: row;
    padding-right: 10px;
    gap: 8px;
}

.titleBtn{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    -webkit-app-region: no-drag;
    cursor: pointer;
}

.btnClose{
    background-color: #ff5f56;
}

.btnMinimize{
    background-color: #ffbd2e;
}

.btnMaximize{
    background-color: #27c93f;
}

.btnModalClose{
    background-color: #ff5f56;
}

#titleBar{
    -webkit-app-region: drag;
    height: 32px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    flex-direction: row;
    justify-content: space-between;
}

#content{
    display: flex;
    flex-direction: row;
    height: calc(100vh - 32px);
    width: 100vw;
    overflow: hidden;
    gap: 25px;
}

#menuEsquerda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 12vw;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--corPrimaria);
    border: 1px solid var(--corQuaternaria);
}

#menuDireita{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 13vw;
    border-radius: 10px;
    background-color: var(--corPrimaria);
    border: 1px solid var(--corQuaternaria);
}

#conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 75vw;
    gap: 10px;
    
}

#banner{
    display: flex;
    height: 50vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #000000;
    border: 1px solid var(--corQuaternaria);
}

#lista{
    display: flex;
    height: 50vh;
    width: 75vw;
    padding: 10px;
    background-color: var(--corPrimaria);
    border-radius: 10px;
    flex-direction: column;
    border: 1px solid var(--corQuaternaria);
}

#titleList{
    display: flex;
    width: 100%;
    align-items: center;
    height: 32px;
    padding: 5px 10px 5px 10px;
}

#user{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 20vh;
    padding: 10px;
}

#xpBar{
    display: flex;
    width: 75%;
    height: 10px;
    background-color: var(--corSecundaria);
    border-radius: 10px;;
}

#fundoModal{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    transition: diplay 1.2s;
    flex-direction: column;
}

#menuModal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 32px;
    padding: 10px;
    align-items: center;
}

#modalConfiguracaoModal{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#formAddTarefa{
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
    height: 100%;
}

#descricaoTarefa{
    display: flex;
    max-width: 37vw;
    max-height: 15vh;
    min-width: 37vw;
    min-height: 15vh;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--corQuaternaria);
}

.modalConfiguracao{
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 80vh;
    border: 1px solid var(--corQuaternaria);
    background-color: var(--corDeFundo);
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000000;
}

.menuConfiguracao{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 15vw;
    height: calc(80vh - 64px);
    border: 1px solid var(--corQuaternaria);
    background-color: var(--corPrimaria);
    border-radius: 10px;
    padding: 10px;  
}

.modalAddTarefa{
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 60vh;
    border: 1px solid var(--corQuaternaria);
    background-color: var(--corDeFundo);
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000000;
}

.menuAddTarefa{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--corQuaternaria);
    background-color: var(--corPrimaria);
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;  
}

.xpConteiner{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-left: 40px;
    padding-top: 20px;
    width: 75%;
    height: auto;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.xpContent{
    display: flex;
    height: 100%;
    background-color: #27c93f;
    border-radius: 10px;
}

.usuario{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}

.listaConteiner{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 10px;
    padding: 20px;
}

.toDoList{
    display: flex;
    width: 100%;
    height: 32px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    background-color: var(--corQuinquenaria);
    transition: 0.5s;
}

.toDoList:hover{
    background-color: #484848;
}

.navMenu{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 100%;
    height: calc(100vh - 32px);
    align-items: center;
}

.navMenuItem{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: left;
    width: 100%;
    height: auto;
    align-items: center;
    cursor: pointer;
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    background-color: var(--corSecundaria);
    transition: transform 0.2s;
}

.navMenuItem img{
    margin-left: 10px;
}

.navMenuItem:hover{
    background-color: var(--corTerciaria);
    transition: 0.2s;
    transform: translateX(5px);
}

.btnConteiner{
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.btn{
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: #ffffff00;
}

.feito{
    background-color: #046e00;
    color: #ffffff;
    padding: 10px;
}

.excluir{
    background-color: #ff1d12;
    color: #ffffff;
    padding: 10px;
}

.hidden{
    display: none;
}